.steps {
  @apply flex flex-row p-0 justify-center items-center
}

.steps {
  counter-reset: steps;
}

.steps li {
  @apply basis-full relative
}

.steps li button {
  @apply hidden;
}

.steps li::after {
  content: "";
  @apply w-full h-1 absolute bg-slate-300 top-5 left-8 -z-10
}

.steps li:last-child:after{
  @apply content-none
}

.steps li::before {
  counter-increment: steps;
  content: counter(steps);
  @apply block text-center leading-9 text-black bg-slate-300 rounded-full font-bold w-10 h-10 m-auto
}

.steps li.active::before{
  @apply text-black bg-primary
}
